<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <h1 class="contact-title">Escríbenos</h1>
</div>
<div class="row">
  <div class="single-row col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="form-group">{{ form.field_contact_email }}</div>
    <div class="form-group">{{ form.field_contact_nombre }}</div>
    <div class="form-group">{{ form.field_contact_telefono }}</div>
  </div>
  <div class="single-row col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    {{ form.field_contact_message }}
  </div>
  <div class="single-row col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    {{ form.actions }}
  </div>
</div>


